  .product-detail {
    display: flex;
    border: 1px solid #ddd;
    margin-top: 20px;
    padding: 20px;
  }
  .product-image {
    flex: 30%;
  }
  .product-info {
    flex: 50%;
    padding-left: 20px;
  }
  .price {
    color: #e8491d;
    font-weight: bold;
  }
  .policy {
    margin-top: 20px;
  }
  .breadcrumb {
  background-color: #f8f9fa; /* Light grey background */
  padding: 10px 15px;
  border-radius: 5px;
}

.breadcrumb a {
  color: #007bff; /* Bootstrap primary blue */
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb .active {
  color: #6c757d; /* Bootstrap secondary text color */
}