.sp_container {
    max-height: 200px;
    margin: 10px 0;
    display: flex;
}

.spImg_container {
    width: 100px;
    height: 125px;
}

.spInfo_container {

}

img {
    height: 100%;
    object-fit: cover;
}

.price {
    color: #e8491d;
    font-weight: bold;
}