<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/node_modules/swiper/swiper-bundle.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" href="/assets/img/web-component/logo-transparent.png">
    <title>Các sản phẩm</title>
    <style>
        body {
            font-family: Arial, sans-serif;

        }

        .container {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .image,
        .description {
            flex: 1;
        }

        .description {
            padding: 0 20px;
            text-align: center;
            /* Canh giữa nội dung văn bản */
        }

        h1,
        h2 {
            color: #007700;
            /* Màu xanh lá cây tuyệt đẹp */
            margin-top: 0;
        }

        .reverse .description {
            order: -1;
        }
    </style>
</head>

<body>
    <header>
        <div class="top-bar d-flex justify-content-between align-content-center text-light px-5 py-1"
            style="background: var(--bs-secondary);">
            <div class="d-flex ms-5 fs-6 ">
                <a href="/login.html" class="text-light" id="link_taikhoan">
                    <i class="bi bi-person-circle pe-2"></i>
                    Tài khoản & đơn hàng
                </a>
                <div class="ps-3 ms-3 border-start">

                    <a href="mailto:info@dacsanque.com" class="text-light">
                        <i class="bi bi-envelope"></i>
                        info@dacsanque.com
                    </a>
                </div>
            </div>
            <div class="fs-5">
                <a href="#" class="text-light"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-light"><i class="bi bi-tiktok px-2"></i></a>
                <a href="#" class="text-light"><i class="bi bi-youtube"></i></a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg bg-white">
            <div class="container-fluid px-5">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand ms-lg-5" href="/index.html"><img src="/assets/img/web-component/logo-transparent.png" alt=""
                        id="logo"></a>
                
                <div class="collapse navbar-collapse justify-content-between px-5" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <div class="d-flex link-page">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/index.html">TRANG CHỦ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">GIỚI THIỆU</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/product.html">SẢN PHẨM</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/blog.html">BLOG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact.html">LIÊN HỆ</a>
                            </li>
                        </div>
                    </ul>
                    
                </div>
                <div class="d-flex align-content-center gap-3">
                        <a href="/product.html"><i class="bi bi-search fs-3 text-dark"></i></a>
                        <a href="#" id="cart_icon"><i class="bi bi-cart3 fs-3 text-dark"></i></a>
                </div>
            </div>
        </nav>
    </header>
    <main >
        <h2 class="chien-luoc">CHIẾN LƯỢC</h2>
    <p>Công ty Cổ phần Nông nghiệp Sinh thái EcoVi là doanh nghiệp tạo tác động xã hội. Chúng tôi mong muốn tìm ra một
        phương pháp mới để đồng hành, hỗ trợ những người nông dân – làm sao để họ có thể sống tốt bằng nghề của mình,
        trên chính mảnh đất quê hương mình. Đồng thời, hướng tới mục tiêu chung –
        một nền nông nghiệp sinh thái, vì sức khỏe người tiêu dùng và môi trường bền vững.</p>
    <div class="container">
        <div class="image">
            <img src="cup-1.png" alt="Hình ảnh sản phẩm 1">
        </div>
        <div class="description">
            <h1>TRỞ THÀNH</h1>
            <h2>DOANH NGHIỆP ĐI ĐẦU</h2>
            <h2>TRONG CHUYỂN ĐỔI</h2>
            <h2>CANH TÁC SINH THÁI</h2>
        </div>
    </div>
    <div class="container reverse">
        <div class="description">
            <h2>DẪN ĐẦU TRONG NHỮNG ĐỔI MỚI CÓ ỨNG DỤNG CAO</h2>

            <p>Tập trung vào ngành nông sản Sinh Thái và các sản phẩm liên quan đến nông sản Sinh Thái, ứng dụng nền
                công nghệ vào nông nghiệp Việt Nam. Lĩnh vực kinh doanh cốt lõi đã tạo nên thương hiệu EcoVi.</p>
            <p>Tiếp tục R & D để phát triển thêm nhiều sản phẩm mới với những cải tiến; mở rộng và đa dạng hóa danh mục
                đầu tư dựa trên sở thích và nhu cầu của người tiêu dùng; cũng như mang đến những trải nghiệm đa dạng và
                tiện lợi cho họ.</p>
        </div>
        <div class="image">
            <img src="ungdungcao.png" alt="Hình ảnh sản phẩm 2">
        </div>
    </div>
    <div class="container">
        <div class="image">
            <img src="khangdinh.png" alt="Hình ảnh sản phẩm 3">
        </div>
        <div class="description">
            <h2>KHẲNG ĐỊNH VỊ TRÍ HÀNG ĐẦU TRONG NGÀNH NÔNG SẢN VIỆT NAM</h2>
            <p>Ưu tiên khai thác thị trường trong nước còn nhiều tiềm năng tăng trưởng.</p>
            <p>Quảng bá nhiều hơn nữa đối với các sản phẩm có giá trị gia tăng và cao cấp, đặc biệt là ở khu vực thành
                thị.</p>
            <p>Thâm nhập và bao phủ các khu vực toàn quốc bằng cách xây dựng hệ thống phân phối như POS, CTV và các siêu
                thị trên toàn quốc trong nước rộng lớn, vững mạnh, gia tăng thị phần và giữ vững vị thế dẫn đầu thị
                trường của EcoVi.</p>
        </div>
    </div>
    <div class="container reverse">
        <div class="description">
            <h2>TRỞ THÀNH DOANH NGHIỆP MANG LẠI GIÁ TRỊ CHO KHÁCH HÀNG VÀ NỀN NÔNG NGHIỆP VIỆT NAM</h2>
            <p>Mở các khóa đào tạo cho nông dân về phương pháp canh tác Sinh Thái, hướng dẫn cách sử dụng các các nền
                tảng bán hàng online, xa hơn nữa là các phần mềm canh tác theo phương pháp Sinh Thái</p>
            <p>EcoVi luôn hướng tới sức khỏe người tiêu dùng, mong muốn mang lại giá trị các sản phẩm chất lượng tới tay
                tay khách hàng</p>
            <p>Chúng tôi, đội ngũ trẻ với tình yêu nông nghiệp, sự kiên trì bền bỉ, luôn học hỏi để phát triển .EcoVi hi
                vọng rằng, không chỉ có phát triển trong nước mà còn ra thế giới Đó là định hướng phát triển và cũng là
                ước mơ lớn của người sáng lập cũng như toàn thể đội ngũ EcoVi.</p>
        </div>
        <div class="image">
            <img src="giatrikhachhang - Copy.png" alt="Hình ảnh sản phẩm 4">
        </div>
    </div>
    </main>
    <footer class="mt-5">
        <div class="container-lg justify-content-center">
            <div class="card mb-3 shadow">
                <div class="row g-0">
                    <div class="col-12 col-lg-4 card-footer-img-wrapper">
                        <img src="/assets/img/web-component/temp2.png" class="img-fluid rounded-start card-footer-img" alt="card-footer-image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body row">
                            <div class="col">
                                <h3>
                                    HOTLINE HỖ TRỢ (24/7)
                                </h3>
                                <h3 class="text-warning">
                                    +84 012 345 678
                                </h3>
                                <p><a href="mailto:info@dacsanquen.com">info@dacsanque.com</a></p>
                            </div>
                            <div class="col">
                                <h3>
                                    TRỤ SỞ CHÍNH
                                </h3>
                                <p>
                                    Khu II, Đường 3 Tháng 2, P. Xuân Khánh, Ninh Kiều, Cần Thơ
                                </p>
                            </div>
                            <div class="col">
                                <h3>
                                    THEO DÕI CHÚNG TÔI
                                </h3>
                                <div class="d-flex gap-3 fs-4">
                                    <a href="#" class="text-dark"><i class="bi bi-facebook"></i></a>
                                    <a href="#" class="text-dark"><i class="bi bi-tiktok"></i></a>
                                    <a href="#" class="text-dark"><i class="bi bi-twitter-x"></i></a>
                                    <a href="#" class="text-dark"><i class="bi bi-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-lg d-flex mt-5 justify-content-between" style="gap: 40px;">
            <div class="d-flex flex-column g-3" style="width: 370px;">
                <h3>
                    CÔNG TY CP NÔNG NGHIỆP SINH THÁI VietNamFood
                </h3>
                <p><span class="fw-bold">Farmshop Cần Thơ:</span> Khu II, Đường 3 Tháng 2, P. Xuân Khánh, Ninh Kiều, Cần Thơ</p>
                <p>
                    <span class="fw-bold">Farmshop Nha Trang:</span> SH 10, Chung cư PH, 11 Võ Thị Sáu, P. Vĩnh Trường, Nha Trang, Khánh Hoà.
                </p>
                <p>
                    Giấy phép kinh doanh số: 0316247028
                </p>
                <p>
                    Mã số thuế: 0316247028
                </p>
            </div>
            <div id="footer-about">
                <h3>
                    Về Chúng Tôi
                </h3>
                <a href="#">Giới thiệu Đặc Sản Quê</a>
                <a href="#">Hướng dẫn thanh toán</a>
                <a href="#">Chính sách giao hàng</a>
                <a href="components/blog.html">Tin tức</a>
                <a href="#">Liên hệ</a>
            </div>
            <div id="footer-product">
                <h3>
                    Sản Phẩm
                </h3>
                <a href="#">Sầu Riêng RI6</a>
                <a href="#">Chùm Ruột</a>
                <a href="#">Bánh Tét Cần Thơ</a>
                <a href="#">Khô Cá Đù Cà Mau</a>
                <a href="#">Quýt hồng Lai Vung</a>
                <a href="#">Sơ ri Gò Công</a>
            </div>
            <div>
                <h3>
                    Kết Nối
                </h3>
                <p>Đăng ký nhận tin khuyến mãi từ ĐSQ</p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button">
                        <i class="bi bi-send"></i>
                    </button>
                </div>
                <div class="d-flex" id="footer-certificate">
                    <img src="/assets/img/web-component/footer/ncsc.webp" alt="">
                    <img src="/assets/img/web-component/footer/DMCA.webp" alt="">
                    <img src="/assets/img/web-component/footer/boCongThuong.webp" alt="">
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="https://kit.fontawesome.com/965ecd562f.js" crossorigin="anonymous"></script>
<script src="/node_modules/swiper/swiper-bundle.min.js"></script>
<script src="/script/index.js" type="module"></script>
<script src="/script/swiper.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</html>